body {
	background-color: white;
	/* background-image: linear-gradient(to top, rgba(255, 60, 42, 0.9),rgba(255, 60, 42, 0.9)); */
}

.dialogo {
	visibility:hidden;
	position:absolute;
	top:700px;
	left:380px;
	width:50%;
	height:100px;
	border:1px solid;
	background-color:#E5E5E5;
	z-index:10;
	box-shadow:3px 3px;
}

.dialogo div:nth-child(1){
	height:24px;
	font-family:Tahoma;
}



.dialogo div:nth-child(1) div:nth-child(1){ 
	float:left;
	width:90%;
	text-align:center;
	color:white;
	font-family: Tahoma;
}

.dialogo div:nth-child(1) div:nth-child(2){ 
	position:absolute;
	margin-top:2px;
	margin-left: calc(100% - 20px);
	width:12px;
	height:17px;
	padding-left: 7px;
	background-color: white;
}

.dialogo div:nth-child(1) div:nth-child(2) a {

}

.dialogo div:nth-child(1) div:nth-child(2) a span { 
	margin-top:-3px;
	color:black;
	cursor:hand;
	font-family:sans-serif;
	font-size:15px;
}

.dialogo div:nth-child(2){
	overflow: auto;
	font-family: Tahoma;
	width: 100%;
}


[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.linhaVaga {
	height: 10px;
	width: 100%;
	/* border: dashed black 3px; */
	margin: 1px;
	padding: 1px;
	background-color: white;
	overflow: scroll;
}
